{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>识别你的图片</title>
    <link rel="stylesheet" href="{%static 'css/bootstrap.css'%}">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
    <div class="row justify-content-center mb-5 title">
        <div class="col-md-6 text-center mb-5 probootstrap-animate">
            <div class="a1"><a href="/">《返回首页</a></div>
            <h2>对象识别</h2>
        </div>
    </div>
    <section class="probootstrap_section" id="section-feature">
        <div class="container">        
            <div class="row">    
                <div class="clear0"></div>                   
                <div class="col-md-12 col-sm-6 probootstrap-animate">
                    <form action="/duixiang/inter/" method="post" enctype="multipart/form-data">
                        {%csrf_token%}
                        <p class="p1">
                                <span class="inp1">
                                    <i class="icon iconfont">&#xe665;</i><br>
                                    <span>请选择您的图片</span>
                                </span>
                            <input type="button" value="">
                            <input class="inp2" type='file' name="file"  onchange="img.src=this.value"/>
                        </p>
                        <p class="p1">
                            <input type="submit" value="开始分析" class="cccc">
                        </p>
                    </form>
                    <div class="ccc">
                        <img src="{{img_url}}" width="200">
                        <p>{{result}}</p>
                    </div> 
                    <!--<div class="ccc">-->
                        <!--<img src="../timg.jpg" width="200">-->
                        <!--<p>分析结果</p>-->
                    <!--</div>-->
                    <!--<div class="ccc">-->
                        <!--<img src="../timg.jpg" width="200">-->
                        <!--<p>分析结果</p>-->
                    <!--</div> -->
                </div>                
            </div>
        </div>
    </section>
</body>
</html>
</body>
</html>