<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>舆情项目展示</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="row justify-content-center mb-5 title">
        <div class="col-md-6 text-center mb-5 probootstrap-animate">
            <div class="a1"><a href="/">《返回首页</a></div>
            <h2>舆情分析</h2>
        </div>
    </div>
    <section class="probootstrap_section" id="section-feature">
        <div class="container">        
            <div class="row">
                <div class="col-md-12 col-sm-6 probootstrap-animate">
                    <form action="/image1" method="post" enctype="multipart/form-data">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="请输入一个句子" aria-describedby="basic-addon2">
                            <span class="input-group-addon" id="basic-addon2">情景分析</span>
                        </div><!-- /input-group -->
                    </form>
                    <div class="clear0"></div>
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <!-- <thead>
                                <tr>
                                    <th width="70%">输入的句子</th>
                                </tr>
                            </thead> -->
                            <tbody>
                                <tr class="green">
                                    <td>输入的第一句话</td>
                                </tr>
                                <tr class="red">
                                    <td>输入的第二句话</td>
                                </tr>
                                <tr class="green">
                                        <td>输入的第三句话</td>
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </div>                
            </div>
        </div>
    </section>
</body>
</html>